

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #fceabb, #f8b500);
  }
  
  .login-form form {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 400px;
  }
  
 
  
  .login-form label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #444;
  }
  
  .login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 25px;
  }
  
  .login-form button {
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }
  
  .login-form button:active {
    transform: scale(0.95);
    box-shadow: none;
  }
  